<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1,user-scalable=no">
  <title>react boilerplate</title>
  <base href={{baseUrl}}>
  {{{cssAssets}}}
</head>
<body>
  <div id="app">{{{html}}}</div>
  {{{serverState}}}
  {{{jsAssets}}}
</body>
</html>
